<div class="card">
  <div class="card-body">
    <div class="display-4 text-center ">Your Profile:</div><br>

    <%= render 'new-edit-form' %>

    <br>
    <div class="text-center">
    <%if current_guest.email != 'demo@finedine.com'%>
      <%=form_tag "/guests/#{current_guest.id}", method:"delete" do %>
        <%=submit_tag "Delete Your Account", class:"btn btn-danger btn-lg"%>
      <%end%>
    <%end%>
    </div>
  </div>
</div>