<hr>
<div class="row">
  <div class="col">
    <div class="mx-auto w-50 p-3 bg-grey text-dark text-center">
      <span class="display-4">You're Not Logged In</span>
      <br><br/>
      <p class="display-6" >Log in as <a href="/sessions/new">Guest</a> Or <a href="/restaurant_sessions/new">Restaurateur</a></p>
    </div>
  </div>
</div>