<div class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
    <a class=" text-dark w-75 p-4 display-3 nav-link" href="/"><strong>FINE DINE</strong></a>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">Reservations</a>
      <a class="nav-item nav-link" href="#">Slots</a>
      <a class="nav-item nav-link" href="#">Edit Information</a>
      <a class="nav-item nav-link" href="#">Search</a>
    </div>
   
  </div>

</nav>

