
<br>
<div class="col d-flex justify-content-center text-center">
  <div class="input-group " style="width: 600px;">
    <input type="search" class="form-control rounded" placeholder="Find a Restaurant" aria-label="Search"
      aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-success">Search</button>
  </div>
</div>