 <footer class="footer fixed-bottom bg-dark text-center text-lg-start">
    <div class="text-white text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © <%=Time.now.strftime('%Y')%> MIT Licensed:
      <p><a class="text-white" href="https://github.com/okorkov/fine-dine" target="_blank">Fine Dine</a> - by Alex Okarkau</p>
    </div>
  </footer>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>